doc/ws/iniciform/v1/IniciFormulariService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IniciFormulariExempleImplService" targetNamespace="http://forms.integracio.helium.conselldemallorca.net/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://forms.integracio.helium.conselldemallorca.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://service.dadesexp.integracio.helium.conselldemallorca.net/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="parellaCodiValor">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://forms.integracio.helium.conselldemallorca.net/" xmlns:ns0="http://service.dadesexp.integracio.helium.conselldemallorca.net/" xmlns:tns="http://forms.integracio.helium.conselldemallorca.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://service.dadesexp.integracio.helium.conselldemallorca.net/"/>
<xsd:element name="iniciFormulari" type="tns:iniciFormulari"/>
<xsd:complexType name="iniciFormulari">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="ns0:parellaCodiValor"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="iniciFormulariResponse" type="tns:iniciFormulariResponse"/>
<xsd:complexType name="iniciFormulariResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="iniciFormulari">
    <wsdl:part element="tns:iniciFormulari" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciFormulariResponse">
    <wsdl:part element="tns:iniciFormulariResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IniciFormulari">
    <wsdl:operation name="iniciFormulari">
      <wsdl:input message="tns:iniciFormulari" name="iniciFormulari">
    </wsdl:input>
      <wsdl:output message="tns:iniciFormulariResponse" name="iniciFormulariResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IniciFormulariExempleImplServiceSoapBinding" type="tns:IniciFormulari">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="iniciFormulari">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="iniciFormulari">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="iniciFormulariResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IniciFormulariExempleImplService">
    <wsdl:port binding="tns:IniciFormulariExempleImplServiceSoapBinding" name="IniciFormulariExempleImplPort">
      <soap:address location="http://localhost:8080/helium/ws/IniciFormulariExemple"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>