helium-core-api/src/main/resources/net/conselldemallorca/helium/core/api/wsdl/backoffice-distribucio.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BackofficeService" targetNamespace="http://www.caib.es/distribucio/ws/backoffice" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/distribucio/ws/backoffice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.caib.es/distribucio/ws/backoffice" version="1.0" xmlns:tns="http://www.caib.es/distribucio/ws/backoffice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="comunicarAnotacionsPendents" type="tns:comunicarAnotacionsPendents" />
<xs:element name="comunicarAnotacionsPendentsResponse" type="tns:comunicarAnotacionsPendentsResponse" />
<xs:complexType name="comunicarAnotacionsPendents">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="ids" type="tns:anotacioRegistreId" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="anotacioRegistreId">
<xs:sequence>
<xs:element minOccurs="0" name="clauAcces" type="xs:string" />
<xs:element minOccurs="0" name="indetificador" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="comunicarAnotacionsPendentsResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="comunicarAnotacionsPendents">
    <wsdl:part element="tns:comunicarAnotacionsPendents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comunicarAnotacionsPendentsResponse">
    <wsdl:part element="tns:comunicarAnotacionsPendentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Backoffice">
    <wsdl:operation name="comunicarAnotacionsPendents">
      <wsdl:input message="tns:comunicarAnotacionsPendents" name="comunicarAnotacionsPendents">
    </wsdl:input>
      <wsdl:output message="tns:comunicarAnotacionsPendentsResponse" name="comunicarAnotacionsPendentsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackofficeServiceSoapBinding" type="tns:Backoffice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comunicarAnotacionsPendents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="comunicarAnotacionsPendents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="comunicarAnotacionsPendentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackofficeService">
    <wsdl:port binding="tns:BackofficeServiceSoapBinding" name="BackofficeServicePort">
      <soap:address location="http://localhost:8080/distribucio/ws/backoffice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>