helium-ws-client/src/main/resources/net/conselldemallorca/helium/ws/client/TramitacioV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TramitacioServiceImplService" targetNamespace="http://conselldemallorca.net/helium/ws/tramitacio/v1" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://conselldemallorca.net/helium/ws/tramitacio/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:tns="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="anyTypeArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="anyTypeArrayArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:anyTypeArray"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://conselldemallorca.net/helium/ws/tramitacio/v1" xmlns:tns="http://conselldemallorca.net/helium/ws/tramitacio/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="agafarTasca" type="tns:agafarTasca"/>
<xs:element name="agafarTascaResponse" type="tns:agafarTascaResponse"/>
<xs:element name="alliberarTasca" type="tns:alliberarTasca"/>
<xs:element name="alliberarTascaResponse" type="tns:alliberarTascaResponse"/>
<xs:element name="aturarExpedient" type="tns:aturarExpedient"/>
<xs:element name="aturarExpedientResponse" type="tns:aturarExpedientResponse"/>
<xs:element name="consultaDocumentsTasca" type="tns:consultaDocumentsTasca"/>
<xs:element name="consultaDocumentsTascaResponse" type="tns:consultaDocumentsTascaResponse"/>
<xs:element name="consultaExpedients" type="tns:consultaExpedients"/>
<xs:element name="consultaExpedientsResponse" type="tns:consultaExpedientsResponse"/>
<xs:element name="consultaFormulariTasca" type="tns:consultaFormulariTasca"/>
<xs:element name="consultaFormulariTascaResponse" type="tns:consultaFormulariTascaResponse"/>
<xs:element name="consultaTasquesGrup" type="tns:consultaTasquesGrup"/>
<xs:element name="consultaTasquesGrupByCodi" type="tns:consultaTasquesGrupByCodi"/>
<xs:element name="consultaTasquesGrupByCodiResponse" type="tns:consultaTasquesGrupByCodiResponse"/>
<xs:element name="consultaTasquesGrupByProces" type="tns:consultaTasquesGrupByProces"/>
<xs:element name="consultaTasquesGrupByProcesResponse" type="tns:consultaTasquesGrupByProcesResponse"/>
<xs:element name="consultaTasquesGrupResponse" type="tns:consultaTasquesGrupResponse"/>
<xs:element name="consultaTasquesPersonals" type="tns:consultaTasquesPersonals"/>
<xs:element name="consultaTasquesPersonalsByCodi" type="tns:consultaTasquesPersonalsByCodi"/>
<xs:element name="consultaTasquesPersonalsByCodiResponse" type="tns:consultaTasquesPersonalsByCodiResponse"/>
<xs:element name="consultaTasquesPersonalsByProces" type="tns:consultaTasquesPersonalsByProces"/>
<xs:element name="consultaTasquesPersonalsByProcesResponse" type="tns:consultaTasquesPersonalsByProcesResponse"/>
<xs:element name="consultaTasquesPersonalsResponse" type="tns:consultaTasquesPersonalsResponse"/>
<xs:element name="consultarDocumentsProces" type="tns:consultarDocumentsProces"/>
<xs:element name="consultarDocumentsProcesResponse" type="tns:consultarDocumentsProcesResponse"/>
<xs:element name="consultarVariablesProces" type="tns:consultarVariablesProces"/>
<xs:element name="consultarVariablesProcesResponse" type="tns:consultarVariablesProcesResponse"/>
<xs:element name="deleteExpedient" type="tns:deleteExpedient"/>
<xs:element name="deleteExpedientResponse" type="tns:deleteExpedientResponse"/>
<xs:element name="esborrarDocumentProces" type="tns:esborrarDocumentProces"/>
<xs:element name="esborrarDocumentProcesResponse" type="tns:esborrarDocumentProcesResponse"/>
<xs:element name="esborrarDocumentTasca" type="tns:esborrarDocumentTasca"/>
<xs:element name="esborrarDocumentTascaResponse" type="tns:esborrarDocumentTascaResponse"/>
<xs:element name="esborrarVariableProces" type="tns:esborrarVariableProces"/>
<xs:element name="esborrarVariableProcesResponse" type="tns:esborrarVariableProcesResponse"/>
<xs:element name="executarAccioProces" type="tns:executarAccioProces"/>
<xs:element name="executarAccioProcesResponse" type="tns:executarAccioProcesResponse"/>
<xs:element name="executarScriptProces" type="tns:executarScriptProces"/>
<xs:element name="executarScriptProcesResponse" type="tns:executarScriptProcesResponse"/>
<xs:element name="finalitzarTasca" type="tns:finalitzarTasca"/>
<xs:element name="finalitzarTascaResponse" type="tns:finalitzarTascaResponse"/>
<xs:element name="getArxiuProces" type="tns:getArxiuProces"/>
<xs:element name="getArxiuProcesResponse" type="tns:getArxiuProcesResponse"/>
<xs:element name="getExpedientInfo" type="tns:getExpedientInfo"/>
<xs:element name="getExpedientInfoResponse" type="tns:getExpedientInfoResponse"/>
<xs:element name="iniciExpedient" type="tns:iniciExpedient"/>
<xs:element name="iniciExpedientResponse" type="tns:iniciExpedientResponse"/>
<xs:element name="reprendreExpedient" type="tns:reprendreExpedient"/>
<xs:element name="reprendreExpedientResponse" type="tns:reprendreExpedientResponse"/>
<xs:element name="setDadesFormulariTasca" type="tns:setDadesFormulariTasca"/>
<xs:element name="setDadesFormulariTascaResponse" type="tns:setDadesFormulariTascaResponse"/>
<xs:element name="setDocumentProces" type="tns:setDocumentProces"/>
<xs:element name="setDocumentProcesResponse" type="tns:setDocumentProcesResponse"/>
<xs:element name="setDocumentTasca" type="tns:setDocumentTasca"/>
<xs:element name="setDocumentTascaResponse" type="tns:setDocumentTascaResponse"/>
<xs:element name="setVariableProces" type="tns:setVariableProces"/>
<xs:element name="setVariableProcesResponse" type="tns:setVariableProcesResponse"/>
<xs:complexType name="deleteExpedient">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteExpedientResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultaTasquesGrup">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesGrupResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tascaTramitacio">
<xs:sequence>
<xs:element name="cancelled" type="xs:boolean"/>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element name="completed" type="xs:boolean"/>
<xs:element minOccurs="0" name="dataCreacio" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataFi" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataInici" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataLimit" type="xs:dateTime"/>
<xs:element minOccurs="0" name="expedient" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="missatgeInfo" type="xs:string"/>
<xs:element minOccurs="0" name="missatgeWarn" type="xs:string"/>
<xs:element name="open" type="xs:boolean"/>
<xs:element name="prioritat" type="xs:int"/>
<xs:element minOccurs="0" name="processInstanceId" type="xs:string"/>
<xs:element minOccurs="0" name="responsable" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="responsables" nillable="true" type="xs:string"/>
<xs:element name="suspended" type="xs:boolean"/>
<xs:element minOccurs="0" name="titol" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="transicionsSortida" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setDadesFormulariTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="parellaCodiValor">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setDadesFormulariTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultaTasquesPersonals">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesPersonalsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExpedientInfo">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExpedientInfoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:expedientInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="expedientInfo">
<xs:sequence>
<xs:element name="autenticat" type="xs:boolean"/>
<xs:element minOccurs="0" name="avisosEmail" type="xs:string"/>
<xs:element name="avisosHabilitats" type="xs:boolean"/>
<xs:element minOccurs="0" name="avisosMobil" type="xs:string"/>
<xs:element minOccurs="0" name="comentari" type="xs:string"/>
<xs:element minOccurs="0" name="dataFi" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataInici" type="xs:dateTime"/>
<xs:element minOccurs="0" name="entornCodi" type="xs:string"/>
<xs:element minOccurs="0" name="estatCodi" type="xs:string"/>
<xs:element minOccurs="0" name="estatNom" type="xs:string"/>
<xs:element minOccurs="0" name="expedientTipusCodi" type="xs:string"/>
<xs:element minOccurs="0" name="expedientTipusNom" type="xs:string"/>
<xs:element minOccurs="0" name="geoPosX" type="xs:double"/>
<xs:element minOccurs="0" name="geoPosY" type="xs:double"/>
<xs:element minOccurs="0" name="geoReferencia" type="xs:string"/>
<xs:element minOccurs="0" name="identificador" type="xs:string"/>
<xs:element minOccurs="0" name="idioma" type="xs:string"/>
<xs:element minOccurs="0" name="infoAturat" type="xs:string"/>
<xs:element minOccurs="0" name="iniciadorCodi" type="xs:string"/>
<xs:element minOccurs="0" name="iniciadorTipus" type="tns:iniciadorTipus"/>
<xs:element minOccurs="0" name="interessatNif" type="xs:string"/>
<xs:element minOccurs="0" name="interessatNom" type="xs:string"/>
<xs:element name="notificacioTelematicaHabilitada" type="xs:boolean"/>
<xs:element minOccurs="0" name="numero" type="xs:string"/>
<xs:element minOccurs="0" name="numeroDefault" type="xs:string"/>
<xs:element name="processInstanceId" type="xs:long"/>
<xs:element minOccurs="0" name="registreData" type="xs:dateTime"/>
<xs:element minOccurs="0" name="registreNumero" type="xs:string"/>
<xs:element minOccurs="0" name="representantNif" type="xs:string"/>
<xs:element minOccurs="0" name="representantNom" type="xs:string"/>
<xs:element minOccurs="0" name="responsableCodi" type="xs:string"/>
<xs:element minOccurs="0" name="titol" type="xs:string"/>
<xs:element minOccurs="0" name="tramitExpedientClau" type="xs:string"/>
<xs:element minOccurs="0" name="tramitExpedientIdentificador" type="xs:string"/>
<xs:element minOccurs="0" name="tramitadorNif" type="xs:string"/>
<xs:element minOccurs="0" name="tramitadorNom" type="xs:string"/>
<xs:element minOccurs="0" name="unitatAdministrativa" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="esborrarVariableProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="esborrarVariableProcesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="setVariableProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setVariableProcesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="executarScriptProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executarScriptProcesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="esborrarDocumentProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="esborrarDocumentProcesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultaFormulariTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaFormulariTascaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:campTasca"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="campTasca">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="dominiCampText" type="xs:string"/>
<xs:element minOccurs="0" name="dominiCampValor" type="xs:string"/>
<xs:element minOccurs="0" name="dominiId" type="xs:string"/>
<xs:element minOccurs="0" name="dominiParams" type="xs:string"/>
<xs:element minOccurs="0" name="etiqueta" type="xs:string"/>
<xs:element minOccurs="0" name="jbpmAction" type="xs:string"/>
<xs:element name="multiple" type="xs:boolean"/>
<xs:element minOccurs="0" name="observacions" type="xs:string"/>
<xs:element name="ocult" type="xs:boolean"/>
<xs:element name="readFrom" type="xs:boolean"/>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="required" type="xs:boolean"/>
<xs:element minOccurs="0" name="tipus" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
<xs:element name="writeTo" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="alliberarTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="alliberarTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="reprendreExpedient">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reprendreExpedientResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="setDocumentTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg5" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setDocumentTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="setDocumentProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg5" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setDocumentProcesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="finalitzarTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="finalitzarTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultaTasquesGrupByCodi">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesGrupByCodiResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultarVariablesProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultarVariablesProcesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:campProces"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="campProces">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="dominiCampText" type="xs:string"/>
<xs:element minOccurs="0" name="dominiCampValor" type="xs:string"/>
<xs:element minOccurs="0" name="dominiId" type="xs:string"/>
<xs:element minOccurs="0" name="dominiParams" type="xs:string"/>
<xs:element minOccurs="0" name="etiqueta" type="xs:string"/>
<xs:element minOccurs="0" name="jbpmAction" type="xs:string"/>
<xs:element name="multiple" type="xs:boolean"/>
<xs:element minOccurs="0" name="observacions" type="xs:string"/>
<xs:element name="ocult" type="xs:boolean"/>
<xs:element minOccurs="0" name="tipus" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="iniciExpedient">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg4" type="tns:parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="iniciExpedientResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesPersonalsByCodi">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesPersonalsByCodiResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaDocumentsTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaDocumentsTascaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentTasca"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="documentTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arxiu" type="xs:string"/>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:dateTime"/>
<xs:element minOccurs="0" name="descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
<xs:element minOccurs="0" name="urlCustodia" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="esborrarDocumentTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="esborrarDocumentTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultarDocumentsProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultarDocumentsProcesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentProces"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="documentProces">
<xs:sequence>
<xs:element minOccurs="0" name="arxiu" type="xs:string"/>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:dateTime"/>
<xs:element minOccurs="0" name="descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getArxiuProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getArxiuProcesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:arxiuProces"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="arxiuProces">
<xs:sequence>
<xs:element minOccurs="0" name="contingut" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaExpedients">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg5" type="xs:string"/>
<xs:element minOccurs="0" name="arg6" type="xs:string"/>
<xs:element name="arg7" type="xs:boolean"/>
<xs:element name="arg8" type="xs:boolean"/>
<xs:element minOccurs="0" name="arg9" type="xs:double"/>
<xs:element minOccurs="0" name="arg10" type="xs:double"/>
<xs:element minOccurs="0" name="arg11" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaExpedientsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:expedientInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="agafarTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="agafarTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="executarAccioProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executarAccioProcesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultaTasquesPersonalsByProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesPersonalsByProcesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="aturarExpedient">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="aturarExpedientResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="consultaTasquesGrupByProces">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaTasquesGrupByProcesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="iniciadorTipus">
<xs:restriction base="xs:string">
<xs:enumeration value="INTERN"/>
<xs:enumeration value="SISTRA"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="TramitacioException" type="tns:TramitacioException"/>
<xs:complexType name="TramitacioException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="alliberarTasca">
    <wsdl:part element="tns:alliberarTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrupByCodi">
    <wsdl:part element="tns:consultaTasquesGrupByCodi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reprendreExpedientResponse">
    <wsdl:part element="tns:reprendreExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alliberarTascaResponse">
    <wsdl:part element="tns:alliberarTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esborrarVariableProcesResponse">
    <wsdl:part element="tns:esborrarVariableProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteExpedientResponse">
    <wsdl:part element="tns:deleteExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDadesFormulariTasca">
    <wsdl:part element="tns:setDadesFormulariTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDocumentTasca">
    <wsdl:part element="tns:setDocumentTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExpedientInfo">
    <wsdl:part element="tns:getExpedientInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aturarExpedientResponse">
    <wsdl:part element="tns:aturarExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarDocumentsProces">
    <wsdl:part element="tns:consultarDocumentsProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalitzarTascaResponse">
    <wsdl:part element="tns:finalitzarTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaFormulariTascaResponse">
    <wsdl:part element="tns:consultaFormulariTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executarAccioProcesResponse">
    <wsdl:part element="tns:executarAccioProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDocumentProcesResponse">
    <wsdl:part element="tns:setDocumentProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esborrarVariableProces">
    <wsdl:part element="tns:esborrarVariableProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrupResponse">
    <wsdl:part element="tns:consultaTasquesGrupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esborrarDocumentTasca">
    <wsdl:part element="tns:esborrarDocumentTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaExpedients">
    <wsdl:part element="tns:consultaExpedients" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarVariablesProcesResponse">
    <wsdl:part element="tns:consultarVariablesProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aturarExpedient">
    <wsdl:part element="tns:aturarExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrupByProcesResponse">
    <wsdl:part element="tns:consultaTasquesGrupByProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDadesFormulariTascaResponse">
    <wsdl:part element="tns:setDadesFormulariTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agafarTascaResponse">
    <wsdl:part element="tns:agafarTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esborrarDocumentProces">
    <wsdl:part element="tns:esborrarDocumentProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonals">
    <wsdl:part element="tns:consultaTasquesPersonals" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonalsByCodiResponse">
    <wsdl:part element="tns:consultaTasquesPersonalsByCodiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agafarTasca">
    <wsdl:part element="tns:agafarTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDocumentsTasca">
    <wsdl:part element="tns:consultaDocumentsTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executarScriptProcesResponse">
    <wsdl:part element="tns:executarScriptProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setVariableProcesResponse">
    <wsdl:part element="tns:setVariableProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarVariablesProces">
    <wsdl:part element="tns:consultarVariablesProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciExpedient">
    <wsdl:part element="tns:iniciExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonalsByProcesResponse">
    <wsdl:part element="tns:consultaTasquesPersonalsByProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executarAccioProces">
    <wsdl:part element="tns:executarAccioProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDocumentTascaResponse">
    <wsdl:part element="tns:setDocumentTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArxiuProcesResponse">
    <wsdl:part element="tns:getArxiuProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonalsByCodi">
    <wsdl:part element="tns:consultaTasquesPersonalsByCodi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonalsByProces">
    <wsdl:part element="tns:consultaTasquesPersonalsByProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TramitacioException">
    <wsdl:part element="tns:TramitacioException" name="TramitacioException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciExpedientResponse">
    <wsdl:part element="tns:iniciExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrupByCodiResponse">
    <wsdl:part element="tns:consultaTasquesGrupByCodiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executarScriptProces">
    <wsdl:part element="tns:executarScriptProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArxiuProces">
    <wsdl:part element="tns:getArxiuProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarDocumentsProcesResponse">
    <wsdl:part element="tns:consultarDocumentsProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setVariableProces">
    <wsdl:part element="tns:setVariableProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDocumentsTascaResponse">
    <wsdl:part element="tns:consultaDocumentsTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalitzarTasca">
    <wsdl:part element="tns:finalitzarTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaExpedientsResponse">
    <wsdl:part element="tns:consultaExpedientsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrupByProces">
    <wsdl:part element="tns:consultaTasquesGrupByProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExpedientInfoResponse">
    <wsdl:part element="tns:getExpedientInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esborrarDocumentTascaResponse">
    <wsdl:part element="tns:esborrarDocumentTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esborrarDocumentProcesResponse">
    <wsdl:part element="tns:esborrarDocumentProcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reprendreExpedient">
    <wsdl:part element="tns:reprendreExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteExpedient">
    <wsdl:part element="tns:deleteExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrup">
    <wsdl:part element="tns:consultaTasquesGrup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDocumentProces">
    <wsdl:part element="tns:setDocumentProces" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonalsResponse">
    <wsdl:part element="tns:consultaTasquesPersonalsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaFormulariTasca">
    <wsdl:part element="tns:consultaFormulariTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TramitacioService">
    <wsdl:operation name="deleteExpedient">
      <wsdl:input message="tns:deleteExpedient" name="deleteExpedient">
    </wsdl:input>
      <wsdl:output message="tns:deleteExpedientResponse" name="deleteExpedientResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrup">
      <wsdl:input message="tns:consultaTasquesGrup" name="consultaTasquesGrup">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesGrupResponse" name="consultaTasquesGrupResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDadesFormulariTasca">
      <wsdl:input message="tns:setDadesFormulariTasca" name="setDadesFormulariTasca">
    </wsdl:input>
      <wsdl:output message="tns:setDadesFormulariTascaResponse" name="setDadesFormulariTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonals">
      <wsdl:input message="tns:consultaTasquesPersonals" name="consultaTasquesPersonals">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesPersonalsResponse" name="consultaTasquesPersonalsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getExpedientInfo">
      <wsdl:input message="tns:getExpedientInfo" name="getExpedientInfo">
    </wsdl:input>
      <wsdl:output message="tns:getExpedientInfoResponse" name="getExpedientInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="esborrarVariableProces">
      <wsdl:input message="tns:esborrarVariableProces" name="esborrarVariableProces">
    </wsdl:input>
      <wsdl:output message="tns:esborrarVariableProcesResponse" name="esborrarVariableProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setVariableProces">
      <wsdl:input message="tns:setVariableProces" name="setVariableProces">
    </wsdl:input>
      <wsdl:output message="tns:setVariableProcesResponse" name="setVariableProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executarScriptProces">
      <wsdl:input message="tns:executarScriptProces" name="executarScriptProces">
    </wsdl:input>
      <wsdl:output message="tns:executarScriptProcesResponse" name="executarScriptProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="esborrarDocumentProces">
      <wsdl:input message="tns:esborrarDocumentProces" name="esborrarDocumentProces">
    </wsdl:input>
      <wsdl:output message="tns:esborrarDocumentProcesResponse" name="esborrarDocumentProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaFormulariTasca">
      <wsdl:input message="tns:consultaFormulariTasca" name="consultaFormulariTasca">
    </wsdl:input>
      <wsdl:output message="tns:consultaFormulariTascaResponse" name="consultaFormulariTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="alliberarTasca">
      <wsdl:input message="tns:alliberarTasca" name="alliberarTasca">
    </wsdl:input>
      <wsdl:output message="tns:alliberarTascaResponse" name="alliberarTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reprendreExpedient">
      <wsdl:input message="tns:reprendreExpedient" name="reprendreExpedient">
    </wsdl:input>
      <wsdl:output message="tns:reprendreExpedientResponse" name="reprendreExpedientResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDocumentTasca">
      <wsdl:input message="tns:setDocumentTasca" name="setDocumentTasca">
    </wsdl:input>
      <wsdl:output message="tns:setDocumentTascaResponse" name="setDocumentTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDocumentProces">
      <wsdl:input message="tns:setDocumentProces" name="setDocumentProces">
    </wsdl:input>
      <wsdl:output message="tns:setDocumentProcesResponse" name="setDocumentProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finalitzarTasca">
      <wsdl:input message="tns:finalitzarTasca" name="finalitzarTasca">
    </wsdl:input>
      <wsdl:output message="tns:finalitzarTascaResponse" name="finalitzarTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrupByCodi">
      <wsdl:input message="tns:consultaTasquesGrupByCodi" name="consultaTasquesGrupByCodi">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesGrupByCodiResponse" name="consultaTasquesGrupByCodiResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarVariablesProces">
      <wsdl:input message="tns:consultarVariablesProces" name="consultarVariablesProces">
    </wsdl:input>
      <wsdl:output message="tns:consultarVariablesProcesResponse" name="consultarVariablesProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="iniciExpedient">
      <wsdl:input message="tns:iniciExpedient" name="iniciExpedient">
    </wsdl:input>
      <wsdl:output message="tns:iniciExpedientResponse" name="iniciExpedientResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonalsByCodi">
      <wsdl:input message="tns:consultaTasquesPersonalsByCodi" name="consultaTasquesPersonalsByCodi">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesPersonalsByCodiResponse" name="consultaTasquesPersonalsByCodiResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDocumentsTasca">
      <wsdl:input message="tns:consultaDocumentsTasca" name="consultaDocumentsTasca">
    </wsdl:input>
      <wsdl:output message="tns:consultaDocumentsTascaResponse" name="consultaDocumentsTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="esborrarDocumentTasca">
      <wsdl:input message="tns:esborrarDocumentTasca" name="esborrarDocumentTasca">
    </wsdl:input>
      <wsdl:output message="tns:esborrarDocumentTascaResponse" name="esborrarDocumentTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumentsProces">
      <wsdl:input message="tns:consultarDocumentsProces" name="consultarDocumentsProces">
    </wsdl:input>
      <wsdl:output message="tns:consultarDocumentsProcesResponse" name="consultarDocumentsProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getArxiuProces">
      <wsdl:input message="tns:getArxiuProces" name="getArxiuProces">
    </wsdl:input>
      <wsdl:output message="tns:getArxiuProcesResponse" name="getArxiuProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaExpedients">
      <wsdl:input message="tns:consultaExpedients" name="consultaExpedients">
    </wsdl:input>
      <wsdl:output message="tns:consultaExpedientsResponse" name="consultaExpedientsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="agafarTasca">
      <wsdl:input message="tns:agafarTasca" name="agafarTasca">
    </wsdl:input>
      <wsdl:output message="tns:agafarTascaResponse" name="agafarTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executarAccioProces">
      <wsdl:input message="tns:executarAccioProces" name="executarAccioProces">
    </wsdl:input>
      <wsdl:output message="tns:executarAccioProcesResponse" name="executarAccioProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonalsByProces">
      <wsdl:input message="tns:consultaTasquesPersonalsByProces" name="consultaTasquesPersonalsByProces">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesPersonalsByProcesResponse" name="consultaTasquesPersonalsByProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="aturarExpedient">
      <wsdl:input message="tns:aturarExpedient" name="aturarExpedient">
    </wsdl:input>
      <wsdl:output message="tns:aturarExpedientResponse" name="aturarExpedientResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrupByProces">
      <wsdl:input message="tns:consultaTasquesGrupByProces" name="consultaTasquesGrupByProces">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesGrupByProcesResponse" name="consultaTasquesGrupByProcesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TramitacioServiceImplServiceSoapBinding" type="tns:TramitacioService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaTasquesGrup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesGrup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesGrupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteExpedient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteExpedient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteExpedientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDadesFormulariTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDadesFormulariTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDadesFormulariTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonals">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesPersonals">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesPersonalsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="esborrarVariableProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="esborrarVariableProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="esborrarVariableProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getExpedientInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getExpedientInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getExpedientInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setVariableProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setVariableProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setVariableProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executarScriptProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="executarScriptProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executarScriptProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="esborrarDocumentProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="esborrarDocumentProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="esborrarDocumentProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaFormulariTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaFormulariTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaFormulariTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="alliberarTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="alliberarTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="alliberarTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reprendreExpedient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reprendreExpedient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reprendreExpedientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDocumentTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDocumentTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDocumentTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finalitzarTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finalitzarTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finalitzarTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDocumentProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDocumentProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDocumentProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrupByCodi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesGrupByCodi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesGrupByCodiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarVariablesProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultarVariablesProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarVariablesProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="iniciExpedient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="iniciExpedient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="iniciExpedientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonalsByCodi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesPersonalsByCodi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesPersonalsByCodiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDocumentsTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaDocumentsTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaDocumentsTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumentsProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultarDocumentsProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarDocumentsProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="esborrarDocumentTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="esborrarDocumentTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="esborrarDocumentTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="agafarTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agafarTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agafarTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaExpedients">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaExpedients">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaExpedientsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getArxiuProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getArxiuProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getArxiuProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonalsByProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesPersonalsByProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesPersonalsByProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executarAccioProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="executarAccioProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executarAccioProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="aturarExpedient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="aturarExpedient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="aturarExpedientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrupByProces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesGrupByProces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesGrupByProcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TramitacioServiceImplService">
    <wsdl:port binding="tns:TramitacioServiceImplServiceSoapBinding" name="TramitacioServiceImplPort">
      <soap:address location="http://localhost:8080/helium/ws/v1/Tramitacio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>