doc/ws/domini/v1/DominiService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DominiExempleImplService" targetNamespace="http://domini.integracio.helium.conselldemallorca.net/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://domini.integracio.helium.conselldemallorca.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://domini.integracio.helium.conselldemallorca.net/" xmlns:tns="http://domini.integracio.helium.conselldemallorca.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="parellaCodiValor">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="filaResultat">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="columnes" nillable="true" type="tns:parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaDomini" type="tns:consultaDomini"/>
<xs:complexType name="consultaDomini">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaDominiResponse" type="tns:consultaDominiResponse"/>
<xs:complexType name="consultaDominiResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:filaResultat"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consultaDomini">
    <wsdl:part element="tns:consultaDomini" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDominiResponse">
    <wsdl:part element="tns:consultaDominiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DominiHelium">
    <wsdl:operation name="consultaDomini">
      <wsdl:input message="tns:consultaDomini" name="consultaDomini">
    </wsdl:input>
      <wsdl:output message="tns:consultaDominiResponse" name="consultaDominiResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominiExempleImplServiceSoapBinding" type="tns:DominiHelium">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaDomini">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaDomini">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaDominiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DominiExempleImplService">
    <wsdl:port binding="tns:DominiExempleImplServiceSoapBinding" name="DominiExempleImplPort">
      <soap:address location="http://localhost:8080/helium/ws/DominiExemple"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>