doc/ws/tramitacio/v1/TramitacioService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TramitacioServiceImpl" targetNamespace="http://tramitacio.integracio.helium.conselldemallorca.net/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tramitacio.integracio.helium.conselldemallorca.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tramitacio.integracio.helium.conselldemallorca.net/" xmlns="http://tramitacio.integracio.helium.conselldemallorca.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="parellaCodiValor">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tascaTramitacio">
<xs:sequence>
<xs:element name="cancelled" type="xs:boolean"/>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element name="completed" type="xs:boolean"/>
<xs:element minOccurs="0" name="dataCreacio" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataFi" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataInici" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataLimit" type="xs:dateTime"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="missatgeInfo" type="xs:string"/>
<xs:element minOccurs="0" name="missatgeWarn" type="xs:string"/>
<xs:element name="open" type="xs:boolean"/>
<xs:element name="prioritat" type="xs:int"/>
<xs:element minOccurs="0" name="responsable" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="responsables" nillable="true" type="xs:string"/>
<xs:element name="suspended" type="xs:boolean"/>
<xs:element minOccurs="0" name="titol" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="transicionsSortida" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="campTasca">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="dominiCampText" type="xs:string"/>
<xs:element minOccurs="0" name="dominiCampValor" type="xs:string"/>
<xs:element minOccurs="0" name="dominiId" type="xs:string"/>
<xs:element minOccurs="0" name="dominiParams" type="xs:string"/>
<xs:element minOccurs="0" name="etiqueta" type="xs:string"/>
<xs:element minOccurs="0" name="jbpmAction" type="xs:string"/>
<xs:element name="multiple" type="xs:boolean"/>
<xs:element minOccurs="0" name="observacions" type="xs:string"/>
<xs:element name="ocult" type="xs:boolean"/>
<xs:element minOccurs="0" name="tipus" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="documentTasca">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="TramitacioException" type="TramitacioException"/>
<xs:complexType name="TramitacioException">
<xs:sequence/>
</xs:complexType>
<xs:element name="iniciExpedient" type="iniciExpedient"/>
<xs:complexType name="iniciExpedient">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg4" type="parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:element name="iniciExpedientResponse" type="iniciExpedientResponse"/>
<xs:complexType name="iniciExpedientResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setDadesFormulariTasca" type="setDadesFormulariTasca"/>
<xs:complexType name="setDadesFormulariTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setDadesFormulariTascaResponse" type="setDadesFormulariTascaResponse"/>
<xs:complexType name="setDadesFormulariTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="setDocumentTasca" type="setDocumentTasca"/>
<xs:complexType name="setDocumentTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element minOccurs="0" name="arg4" type="xs:string"/>
<xs:element minOccurs="0" name="arg5" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg6" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setDocumentTascaResponse" type="setDocumentTascaResponse"/>
<xs:complexType name="setDocumentTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="finalitzarTasca" type="finalitzarTasca"/>
<xs:complexType name="finalitzarTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="finalitzarTascaResponse" type="finalitzarTascaResponse"/>
<xs:complexType name="finalitzarTascaResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="consultaTasquesPersonals" type="consultaTasquesPersonals"/>
<xs:complexType name="consultaTasquesPersonals">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaTasquesPersonalsResponse" type="consultaTasquesPersonalsResponse"/>
<xs:complexType name="consultaTasquesPersonalsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaTasquesGrup" type="consultaTasquesGrup"/>
<xs:complexType name="consultaTasquesGrup">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaTasquesGrupResponse" type="consultaTasquesGrupResponse"/>
<xs:complexType name="consultaTasquesGrupResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tascaTramitacio"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaFormulariTasca" type="consultaFormulariTasca"/>
<xs:complexType name="consultaFormulariTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaFormulariTascaResponse" type="consultaFormulariTascaResponse"/>
<xs:complexType name="consultaFormulariTascaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="campTasca"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaDocumentsTasca" type="consultaDocumentsTasca"/>
<xs:complexType name="consultaDocumentsTasca">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultaDocumentsTascaResponse" type="consultaDocumentsTascaResponse"/>
<xs:complexType name="consultaDocumentsTascaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="documentTasca"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consultaDocumentsTasca">
    <wsdl:part element="tns:consultaDocumentsTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrupResponse">
    <wsdl:part element="tns:consultaTasquesGrupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesGrup">
    <wsdl:part element="tns:consultaTasquesGrup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDadesFormulariTascaResponse">
    <wsdl:part element="tns:setDadesFormulariTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDocumentTasca">
    <wsdl:part element="tns:setDocumentTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalitzarTascaResponse">
    <wsdl:part element="tns:finalitzarTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonals">
    <wsdl:part element="tns:consultaTasquesPersonals" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TramitacioException">
    <wsdl:part element="tns:TramitacioException" name="TramitacioException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciExpedient">
    <wsdl:part element="tns:iniciExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaFormulariTascaResponse">
    <wsdl:part element="tns:consultaFormulariTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaFormulariTasca">
    <wsdl:part element="tns:consultaFormulariTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDadesFormulariTasca">
    <wsdl:part element="tns:setDadesFormulariTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciExpedientResponse">
    <wsdl:part element="tns:iniciExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDocumentTascaResponse">
    <wsdl:part element="tns:setDocumentTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTasquesPersonalsResponse">
    <wsdl:part element="tns:consultaTasquesPersonalsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDocumentsTascaResponse">
    <wsdl:part element="tns:consultaDocumentsTascaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalitzarTasca">
    <wsdl:part element="tns:finalitzarTasca" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TramitacioService">
    <wsdl:operation name="iniciExpedient">
      <wsdl:input message="tns:iniciExpedient" name="iniciExpedient">
    </wsdl:input>
      <wsdl:output message="tns:iniciExpedientResponse" name="iniciExpedientResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDadesFormulariTasca">
      <wsdl:input message="tns:setDadesFormulariTasca" name="setDadesFormulariTasca">
    </wsdl:input>
      <wsdl:output message="tns:setDadesFormulariTascaResponse" name="setDadesFormulariTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDocumentTasca">
      <wsdl:input message="tns:setDocumentTasca" name="setDocumentTasca">
    </wsdl:input>
      <wsdl:output message="tns:setDocumentTascaResponse" name="setDocumentTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finalitzarTasca">
      <wsdl:input message="tns:finalitzarTasca" name="finalitzarTasca">
    </wsdl:input>
      <wsdl:output message="tns:finalitzarTascaResponse" name="finalitzarTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonals">
      <wsdl:input message="tns:consultaTasquesPersonals" name="consultaTasquesPersonals">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesPersonalsResponse" name="consultaTasquesPersonalsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrup">
      <wsdl:input message="tns:consultaTasquesGrup" name="consultaTasquesGrup">
    </wsdl:input>
      <wsdl:output message="tns:consultaTasquesGrupResponse" name="consultaTasquesGrupResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaFormulariTasca">
      <wsdl:input message="tns:consultaFormulariTasca" name="consultaFormulariTasca">
    </wsdl:input>
      <wsdl:output message="tns:consultaFormulariTascaResponse" name="consultaFormulariTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDocumentsTasca">
      <wsdl:input message="tns:consultaDocumentsTasca" name="consultaDocumentsTasca">
    </wsdl:input>
      <wsdl:output message="tns:consultaDocumentsTascaResponse" name="consultaDocumentsTascaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TramitacioException" name="TramitacioException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TramitacioServiceImplSoapBinding" type="tns:TramitacioService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="iniciExpedient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="iniciExpedient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="iniciExpedientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDadesFormulariTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDadesFormulariTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDadesFormulariTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finalitzarTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finalitzarTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finalitzarTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDocumentTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDocumentTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDocumentTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesPersonals">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesPersonals">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesPersonalsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTasquesGrup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTasquesGrup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTasquesGrupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaFormulariTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaFormulariTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaFormulariTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDocumentsTasca">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaDocumentsTasca">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaDocumentsTascaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TramitacioException">
        <soap:fault name="TramitacioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TramitacioServiceImpl">
    <wsdl:port binding="tns:TramitacioServiceImplSoapBinding" name="TramitacioServiceImplPort">
      <soap:address location="http://localhost:8080/helium/ws/Tramitacio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>