helium-selenium-integraciones/WebContent/wsdl/custodia.wsdl

<?xml version="1.0" encoding="windows-1252"?>
<wsdl:definitions targetNamespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" xmlns:intf="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="consultarReservaDocumentoResponse">
    <wsdl:part name="consultarReservaDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoSMIME_v2Response">
    <wsdl:part name="custodiarDocumentoSMIME_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="obtenerInformeDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="reservarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="consultarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="custodiarPDFFirmadoResponse">
    <wsdl:part name="custodiarPDFFirmadoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="verificarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="purgarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="eliminarDocumentoResponse">
    <wsdl:part name="eliminarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="recuperarDocumento_v2Response">
    <wsdl:part name="recuperarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="purgarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="purgarDocumento_v2Response">
    <wsdl:part name="purgarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="consultarReservaDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="reservarDocumento_v2Response">
    <wsdl:part name="reservarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="recuperarDocumentoResponse">
    <wsdl:part name="recuperarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoXAdESResponse">
    <wsdl:part name="custodiarDocumentoXAdESResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarPDFFirmado_v2Response">
    <wsdl:part name="custodiarPDFFirmado_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="recuperarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="reservarDocumentoResponse">
    <wsdl:part name="reservarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="reservarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoSMIMERequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtenerInformeDocumento_v2Response">
    <wsdl:part name="obtenerInformeDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="consultarDocumento_v2Response">
    <wsdl:part name="consultarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarPDFFirmado_v2Request">
    <wsdl:part name="in0" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoXAdESRequest">
    <wsdl:part name="in0" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="obtenerInformeDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoResponse">
    <wsdl:part name="custodiarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="verificarDocumentoResponse">
    <wsdl:part name="verificarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="consultarDocumentoResponse">
    <wsdl:part name="consultarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="obtenerInformeDocumentoResponse">
    <wsdl:part name="obtenerInformeDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="consultarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="eliminarDocumento_v2Response">
    <wsdl:part name="eliminarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="verificarDocumento_v2Response">
    <wsdl:part name="verificarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="recuperarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="verificarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="eliminarDocumento_v2Request">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoSMIME_v2Request">
    <wsdl:part name="in0" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarPDFFirmadoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumentoSMIMEResponse">
    <wsdl:part name="custodiarDocumentoSMIMEResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="eliminarDocumentoRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="purgarDocumentoResponse">
    <wsdl:part name="purgarDocumentoResponse" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="custodiarDocumento_v2Response">
    <wsdl:part name="custodiarDocumento_v2Response" type="xsd:base64Binary"/>
  </wsdl:message>
  <wsdl:portType name="Custodia">
    <wsdl:operation name="verificarDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:verificarDocumentoRequest" name="verificarDocumentoRequest"/>
      <wsdl:output message="impl:verificarDocumentoResponse" name="verificarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerInformeDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:obtenerInformeDocumentoRequest" name="obtenerInformeDocumentoRequest"/>
      <wsdl:output message="impl:obtenerInformeDocumentoResponse" name="obtenerInformeDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:consultarDocumentoRequest" name="consultarDocumentoRequest"/>
      <wsdl:output message="impl:consultarDocumentoResponse" name="consultarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarPDFFirmado" parameterOrder="in0">
      <wsdl:input message="impl:custodiarPDFFirmadoRequest" name="custodiarPDFFirmadoRequest"/>
      <wsdl:output message="impl:custodiarPDFFirmadoResponse" name="custodiarPDFFirmadoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarPDFFirmado_v2" parameterOrder="in0">
      <wsdl:input message="impl:custodiarPDFFirmado_v2Request" name="custodiarPDFFirmado_v2Request"/>
      <wsdl:output message="impl:custodiarPDFFirmado_v2Response" name="custodiarPDFFirmado_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumentoSMIME" parameterOrder="in0">
      <wsdl:input message="impl:custodiarDocumentoSMIMERequest" name="custodiarDocumentoSMIMERequest"/>
      <wsdl:output message="impl:custodiarDocumentoSMIMEResponse" name="custodiarDocumentoSMIMEResponse"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumentoSMIME_v2" parameterOrder="in0">
      <wsdl:input message="impl:custodiarDocumentoSMIME_v2Request" name="custodiarDocumentoSMIME_v2Request"/>
      <wsdl:output message="impl:custodiarDocumentoSMIME_v2Response" name="custodiarDocumentoSMIME_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumento" parameterOrder="in0">
      <wsdl:input message="impl:custodiarDocumentoRequest" name="custodiarDocumentoRequest"/>
      <wsdl:output message="impl:custodiarDocumentoResponse" name="custodiarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumento_v2" parameterOrder="in0">
      <wsdl:input message="impl:custodiarDocumento_v2Request" name="custodiarDocumento_v2Request"/>
      <wsdl:output message="impl:custodiarDocumento_v2Response" name="custodiarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumentoXAdES" parameterOrder="in0">
      <wsdl:input message="impl:custodiarDocumentoXAdESRequest" name="custodiarDocumentoXAdESRequest"/>
      <wsdl:output message="impl:custodiarDocumentoXAdESResponse" name="custodiarDocumentoXAdESResponse"/>
    </wsdl:operation>
    <wsdl:operation name="purgarDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:purgarDocumentoRequest" name="purgarDocumentoRequest"/>
      <wsdl:output message="impl:purgarDocumentoResponse" name="purgarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="purgarDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:purgarDocumento_v2Request" name="purgarDocumento_v2Request"/>
      <wsdl:output message="impl:purgarDocumento_v2Response" name="purgarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="recuperarDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:recuperarDocumentoRequest" name="recuperarDocumentoRequest"/>
      <wsdl:output message="impl:recuperarDocumentoResponse" name="recuperarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="recuperarDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:recuperarDocumento_v2Request" name="recuperarDocumento_v2Request"/>
      <wsdl:output message="impl:recuperarDocumento_v2Response" name="recuperarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:eliminarDocumentoRequest" name="eliminarDocumentoRequest"/>
      <wsdl:output message="impl:eliminarDocumentoResponse" name="eliminarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:eliminarDocumento_v2Request" name="eliminarDocumento_v2Request"/>
      <wsdl:output message="impl:eliminarDocumento_v2Response" name="eliminarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="verificarDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:verificarDocumento_v2Request" name="verificarDocumento_v2Request"/>
      <wsdl:output message="impl:verificarDocumento_v2Response" name="verificarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerInformeDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:obtenerInformeDocumento_v2Request" name="obtenerInformeDocumento_v2Request"/>
      <wsdl:output message="impl:obtenerInformeDocumento_v2Response" name="obtenerInformeDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:consultarDocumento_v2Request" name="consultarDocumento_v2Request"/>
      <wsdl:output message="impl:consultarDocumento_v2Response" name="consultarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="reservarDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:reservarDocumentoRequest" name="reservarDocumentoRequest"/>
      <wsdl:output message="impl:reservarDocumentoResponse" name="reservarDocumentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="reservarDocumento_v2" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:reservarDocumento_v2Request" name="reservarDocumento_v2Request"/>
      <wsdl:output message="impl:reservarDocumento_v2Response" name="reservarDocumento_v2Response"/>
    </wsdl:operation>
    <wsdl:operation name="consultarReservaDocumento" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:consultarReservaDocumentoRequest" name="consultarReservaDocumentoRequest"/>
      <wsdl:output message="impl:consultarReservaDocumentoResponse" name="consultarReservaDocumentoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustodiaDocumentosSoapBinding" type="impl:Custodia">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="verificarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="verificarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="verificarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInformeDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="obtenerInformeDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerInformeDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="consultarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarPDFFirmado">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarPDFFirmadoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarPDFFirmadoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarPDFFirmado_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarPDFFirmado_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarPDFFirmado_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumentoSMIME">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarDocumentoSMIMERequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarDocumentoSMIMEResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumentoSMIME_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarDocumentoSMIME_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarDocumentoSMIME_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custodiarDocumentoXAdES">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="custodiarDocumentoXAdESRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="custodiarDocumentoXAdESResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purgarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="purgarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="purgarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purgarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="purgarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="purgarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="recuperarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="recuperarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="recuperarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="recuperarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="eliminarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="eliminarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="eliminarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="eliminarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="verificarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="verificarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInformeDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="obtenerInformeDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerInformeDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="consultarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="reservarDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reservarDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarDocumento_v2">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="reservarDocumento_v2Request">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reservarDocumento_v2Response">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarReservaDocumento">
      <wsdlsoap:operation soapAction="CustodiaDocumentos"/>
      <wsdl:input name="consultarReservaDocumentoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.signatura.caib.es" use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarReservaDocumentoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustodiaService">
    <wsdl:port binding="impl:CustodiaDocumentosSoapBinding" name="CustodiaDocumentos">
      <wsdlsoap:address location="http://sdesapplin2.caib.es:28080/signatura/services/CustodiaDocumentos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>