helium-selenium-integraciones/src/main/resources/net/conselldemallorca/helium/ws-integraciones/wsdl/BackofficeFacade.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:impl="urn:es:caib:zonaper:ws:v2:services" xmlns:intf="urn:es:caib:zonaper:ws:v2:model:BackofficeFacade" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="urn:es:caib:zonaper:ws:v2:model:Expediente" xmlns:tns2="urn:es:caib:zonaper:ws:v2:model:EventoExpediente" xmlns:tns3="urn:es:caib:zonaper:ws:v2:model:EstadoPago" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BackofficeFacade" targetNamespace="urn:es:caib:zonaper:ws:v2:services">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:es:caib:zonaper:ws:v2:model:BackofficeFacade" version="1.0">
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:Expediente" schemaLocation="Expediente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:EventoExpediente" schemaLocation="EventoExpediente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:EstadoPago" schemaLocation="EstadoPago.xsd"/>
			<xsd:element name="altaExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="expediente" type="tns1:Expediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaExpedienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="altaExpedienteReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaEventoExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unidadAdministrativa" type="xsd:long"/>
						<xsd:element name="identificadorExpediente" type="xsd:string"/>
						<xsd:element name="claveExpediente" type="xsd:string"/>
						<xsd:element name="evento" type="tns2:EventoExpediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaEventoExpedienteResponse">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="existeZonaPersonalUsuario">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nifUsuario" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeZonaPersonalUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="existeZonaPersonalUsuarioReturn" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaZonaPersonalUsuario">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nif" type="xsd:string"/>
						<xsd:element name="nombre" type="xsd:string"/>
						<xsd:element name="apellido1" type="xsd:string"/>
						<xsd:element name="apellido2" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaZonaPersonalUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="altaZonaPersonalUsuarioReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerEstadoPagosTramite">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificadorPersistenciaTramite" type="xsd:string"/>						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerEstadoPagosTramiteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerEstadoPagosTramiteReturn" type="tns3:EstadoPagos"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
  </wsdl:types>
  <wsdl:message name="altaExpedienteRequest">
    <wsdl:part element="intf:altaExpediente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BackofficeFacadeException">
    <wsdl:part element="intf:fault" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaZonaPersonalUsuarioRequest">
    <wsdl:part element="intf:altaZonaPersonalUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaExpedienteResponse">
    <wsdl:part element="intf:altaExpedienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerEstadoPagosTramiteResponse">
    <wsdl:part element="intf:obtenerEstadoPagosTramiteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="existeZonaPersonalUsuarioResponse">
    <wsdl:part element="intf:existeZonaPersonalUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaEventoExpedienteResponse">
    <wsdl:part element="intf:altaEventoExpedienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerEstadoPagosTramiteRequest">
    <wsdl:part element="intf:obtenerEstadoPagosTramite" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="existeZonaPersonalUsuarioRequest">
    <wsdl:part element="intf:existeZonaPersonalUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaZonaPersonalUsuarioResponse">
    <wsdl:part element="intf:altaZonaPersonalUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaEventoExpedienteRequest">
    <wsdl:part element="intf:altaEventoExpediente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BackofficeFacade">
    <wsdl:operation name="altaExpediente">
      <wsdl:input message="impl:altaExpedienteRequest" name="altaExpedienteRequest">
    </wsdl:input>
      <wsdl:output message="impl:altaExpedienteResponse" name="altaExpedienteResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="altaEventoExpediente">
      <wsdl:input message="impl:altaEventoExpedienteRequest" name="altaEventoExpedienteRequest">
    </wsdl:input>
      <wsdl:output message="impl:altaEventoExpedienteResponse" name="altaEventoExpedienteResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="existeZonaPersonalUsuario">
      <wsdl:input message="impl:existeZonaPersonalUsuarioRequest" name="existeZonaPersonalUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="impl:existeZonaPersonalUsuarioResponse" name="existeZonaPersonalUsuarioResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="altaZonaPersonalUsuario">
      <wsdl:input message="impl:altaZonaPersonalUsuarioRequest" name="altaZonaPersonalUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="impl:altaZonaPersonalUsuarioResponse" name="altaZonaPersonalUsuarioResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerEstadoPagosTramite">
      <wsdl:input message="impl:obtenerEstadoPagosTramiteRequest" name="obtenerEstadoPagosTramiteRequest">
    </wsdl:input>
      <wsdl:output message="impl:obtenerEstadoPagosTramiteResponse" name="obtenerEstadoPagosTramiteResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="altaExpediente">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="altaEventoExpediente">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="existeZonaPersonalUsuario">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="altaZonaPersonalUsuario">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerEstadoPagosTramite">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackofficeFacadeService">
    <wsdl:port binding="impl:BackofficeFacadeSoapBinding" name="BackofficeFacade">
      <soap:address location="http://sdesapplin1.caib.es:18080/zonaperws/services/v2/BackofficeFacade"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
