doc/ws/dadesexp/v1/DadesExpedientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DadesExpedientExempleImplService" targetNamespace="http://service.dadesexp.integracio.helium.conselldemallorca.net/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.dadesexp.integracio.helium.conselldemallorca.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.dadesexp.integracio.helium.conselldemallorca.net/" xmlns="http://service.dadesexp.integracio.helium.conselldemallorca.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="parellaCodiValor">
<xs:sequence>
<xs:element minOccurs="0" name="codi" type="xs:string"/>
<xs:element minOccurs="0" name="valor" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:element name="notificacio" type="notificacio"/>
<xs:complexType name="notificacio">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="parellaCodiValor"/>
</xs:sequence>
</xs:complexType>
<xs:element name="notificacioResponse" type="notificacioResponse"/>
<xs:complexType name="notificacioResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="notificacioResponse">
    <wsdl:part element="tns:notificacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notificacio">
    <wsdl:part element="tns:notificacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DadesExpedient">
    <wsdl:operation name="notificacio">
      <wsdl:input message="tns:notificacio" name="notificacio">
    </wsdl:input>
      <wsdl:output message="tns:notificacioResponse" name="notificacioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DadesExpedientExempleImplServiceSoapBinding" type="tns:DadesExpedient">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notificacio">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="notificacio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="notificacioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DadesExpedientExempleImplService">
    <wsdl:port binding="tns:DadesExpedientExempleImplServiceSoapBinding" name="DadesExpedientExempleImplPort">
      <soap:address location="http://localhost:8080/helium/ws/DadesExpedientExemple"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>